body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:470px;
  top:244px;
  width:435px;
  height:886px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:886px;
}
#u1 {
  position:absolute;
  left:2px;
  top:435px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:500px;
  top:364px;
  width:375px;
  height:667px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:680px;
  top:285px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:625px;
  top:310px;
  width:10px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:655px;
  top:310px;
  width:68px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:653px;
  top:1041px;
  width:70px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:465px;
  top:445px;
  width:5px;
  height:65px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:465px;
  top:520px;
  width:5px;
  height:65px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:465px;
  top:390px;
  width:5px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:905px;
  top:455px;
  width:5px;
  height:65px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
